body,
.intro,
.aboutCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    padding: 50px;
}


img {
    border-radius: 50%;
}

h1 {
    font-size: 60px;
}

p {
    text-align: center;
}

.aboutCard p {
    text-align: left;
}